@using TicketingSystem.DTO
@using TicketingSystem.Enums
@model TicketDTO

@{
    ViewData["Title"] = $"Wait For Customer Ticket Nr. {@Model.Id}";
}

<h1>@ViewData["Title"]</h1>

<section>
    <h4>@Model.CustomerName | @Model.TicketState | @Model.Priority | @Model.DisplayOutageTime</h4>
    <hr />
    <div class="btn-group my-1 me-2">
        @if (!(User.IsInRole("CUSTOMER") || Model.ClosedFlag)) {
            <a asp-action="StartWork" asp-route-id="@Model?.Id" class="btn btn-success">Start Work</a>
        }
        <a asp-action="Comment" asp-route-id="@Model?.Id" class="btn btn-primary">Add Comment</a>
        @if (!(User.IsInRole("CUSTOMER") || Model.ClosedFlag)) {
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Modify Ticket</a>
        }
    </div>
    @if (!(User.IsInRole("CUSTOMER") || Model.ClosedFlag)) {
        <div class="btn-group my-1 me-2">
            <a asp-action="CustomerTime" asp-route-id="@Model?.Id" class="btn btn-outline-warning">Wait For Customer</a>
        </div>
        <div class="btn-group my-1 me-2">
            <a asp-action="Resolve" asp-route-id="@Model?.Id" class="btn btn-info">Resolve</a>
            <a asp-action="Close" asp-route-id="@Model?.Id" class="btn btn-danger">Close Ticket</a>
            <a asp-action="VoidTicket" asp-route-id="@Model?.Id" class="btn btn-secondary">Void Ticket</a>
        </div>
    }
    <div class="btn-group my-1 me-2">
        <a asp-action="Details" asp-route-id="@Model?.Id" class="btn btn-dark">Details</a>
        <a asp-action="Index" class="btn btn-dark">Back to List</a>
    </div>
    <hr />
</section>
<form asp-action="CustomerTime" method="post">
    <div class="row">
        <div class="col-md-8 my-3">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label for="StatusComment" class="control-label"><strong>Customer On-Hold Comment:</strong></label>
                <textarea id="StatusComment" name="StatusComment" class="form-control" rows="8" required /></textarea>
                <input type="hidden" id="InternalComment" value="0" />
                <input type="hidden" id="TicketActivity" value="7" />
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatedDate" class="form-control" />
            <input type="hidden" asp-for="TicketState" class="form-control" />
            <input type="hidden" asp-for="CurrentActivityNumber" />
            <input type="hidden" asp-for="ClosedFlag" />
            <input type="hidden" asp-for="ClosedDate" class="form-control" />
            <input type="hidden" asp-for="LastModifiedDate" class="form-control" />
            <input type="hidden" asp-for="OutageTime" class="form-control" />
            <input type="hidden" asp-for="CustomerName" class="form-control" />
            <input type="hidden" asp-for="ProblemDescription" class="form-control" />
            <input type="hidden" asp-for="Priority" class="form-control" />
            <input type="hidden" asp-for="ReportSource" class="form-control" />
            <input type="hidden" asp-for="LatestStatusComment" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Wait For Customer" class="btn btn-warning my-3" />
        </div>
    </div>
</form>

<div class="my-3">
    <a asp-action="Details" asp-route-id="@Model?.Id" class="btn btn-outline-primary">Back to Details</a>
    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
